@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
    font-family: 'Outfit', sans-serif;
}

@layer base {
    body {
        @apply bg-gray-950 text-white antialiased;
    }

    button {
        @apply cursor-pointer;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 50s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-float {
    animation: float 5s ease-in-out infinite;
}

theme {
    --color-primary: #14b8a6;        /* teal-500 */
    --color-primary-hover: #0d9488;  /* teal-600 */
    --color-secondary: #10b981;      /* emerald-500 */
    --color-dark-bg: #0f172a;
    --color-dark-card: #1e293b;
}

@layer utilities {
    .glass-panel {
        @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
    }

    .btn-secondary {
        @apply px-6 py-3 rounded-xl bg-white/10 hover:bg-white/20 text-white font-semibold backdrop-blur-sm border border-white/10 transition-all duration-300;
    }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}

.reveal {
  transform: translateY(120px);
  opacity: 0;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out;
}